.container {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 350px;
    min-height: 150px;

    display: flex;
    flex-direction: column;
    word-break: break-all;  
}

.header {
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;

    margin: 0 0 12px 0;
    padding: 0 36px 0 0;
    position: relative;
}

.edit {
    position: absolute;
    right: 0;
    top: 0;
}

.tag {
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 16px;
    background: rgba(36, 151, 86, 0.2);
}
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.description {
    min-height: 72px;
    flex: 1 1 auto;
    font-weight: 500;
    font-size: 16px;

    color: #4f4f4f;
}

.footer {
    padding: 4px 0;
    color: #828282;
    margin: 12px 0 0 0;
    display: grid;
    grid-auto-flow: column;
    column-gap: 24px;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    font-size: 12px;
    line-height: 18px;
}

@mixin place-icon($icon_url) {
    position: relative;
    padding: 0 0 0 24px;

    &::before {
        content: url($icon_url);
        position: absolute;
        left: 0;
        top: 50%;
        height: 16px;
        width: 16px;
        transform: translate(0, -50%);
    }
}

.date {
    @include place-icon("./assets/calendar.svg");
}

.comments {
    @include place-icon("./assets/message.svg");
}

.files {
    @include place-icon("./assets/file.svg");
}

.avatar {
    text-align: right;
}
