.container {
    width: 350px;
    padding: 16px 0;
    text-align: center;
    background-color: #2f80ed;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 16px;
    transition: 0.3s ease-in;
    &:hover {
        transition: 0.3s ease-in;
        background-color: #eaeef6;
        border: 1px solid #7784ee;
        color: #7784ee;
    }
    &:active {
        transition: 0.3s ease-in;
        background-color: #d2d7ff;
        color: #727fe3;
        border: none;
    }
}
